<section class="information {{ section.title | downcase | split: " " | join: "-"}}">
  {{ section.content }}

  {% if section.info.grid-images %}
    <div class="sponsor-grid">
      {% assign sorted_images = section.info.grid-images | sort:"position" %}
      {% for item in sorted_images %}
        <a href="{{ item.url }}" target="_blank" rel="noreferrer noopener" class="sponsor">
          <img src="{{ item.image }}" alt="{{ item.url }}">
        </a>
      {% endfor %}
    </div>
  {% endif %}
</section>


<!-- <section class="information">
  <h1>Information</h1>
  <p></p>

  <h2>Education Village</h2>
  <p>Education Village is an aggregation of many of the dedicated water protectors, scientists, and community activists working to protect and restore the health of Cayuga Lake. We will offer interactive activities while sharing essential information inviting you to join our mission for a healthy, cleaner Cayuga Lake. Water is life and we are all stewards of our water both here in Ithaca, NY and around the world. Collectively we can make a difference.</p>

  <div class="sponsor-grid">
    <a href="http://www.cayugalake.org/" target="_blank" rel="noreferrer noopener" class="sponsor cayuga-watershed-network"></a>
    <a href="http://ccetompkins.org/environment/invasive-nuisance-species/aquatic-invasives/hydrilla/fighting-hydrilla-in-the-cayuga-lake-watershed/hydrilla-task-force-of-the-cayuga-lake-watershed" target="_blank" rel="noreferrer noopener" class="sponsor hydrilla-task-force"></a>
    <a href="http://www.communityscience.org/" target="_blank" rel="noreferrer noopener" class="sponsor community-science-institute"></a>
    <a href="https://www.discovercayugalake.org/" target="_blank" rel="noreferrer noopener" class="sponsor discover-cayuga-lake"></a>
    <a href="http://www.ehaec.com/" target="_blank" rel="noreferrer noopener" class="sponsor ehaec"></a>
    <a href="https://newrootsschool.org/" target="_blank" rel="noreferrer noopener" class="sponsor new-roots-charter-school"></a>
    <a href="http://www.fllt.org/" target="_blank" rel="noreferrer noopener" class="sponsor fllt"></a>
    <a href="https://plastictides.org/" target="_blank" rel="noreferrer noopener" class="sponsor plastic-tides"></a>
    <a href="https://www.friendsofstewartpark.org/" target="_blank" rel="noreferrer noopener" class="sponsor friends-of-stewart-park"></a>
    <a href="http://cayugawaterfronttrail.com/" target="_blank" rel="noreferrer noopener" class="sponsor cayuga-waterfront-trail"></a>
    <a href="http://cleancayugalake.org/" target="_blank" rel="noreferrer noopener" class="sponsor clean-cayuga-lake"></a>
    <a href="https://soilhealth.cals.cornell.edu/ " target="_blank" rel="noreferrer noopener" class="sponsor cshl"></a>
  </div>
  <p></p>
  <p></p>

  <h2>Wellness Village</h2>

  <p>Wellness Village is sponsored by <a href="http://www.mightyyoga.com/" target="_blank" rel="noreferrer noopener">Mighty Yoga</a> and Greenstar Co-op and managed by Astrid Jirka of <a href="https://www.govahana.com/yogafortheearth/" target="_blank" rel="noreferrer noopener">Yoga for the Earth.</a> In 2017 Astrid led 108 Sun Salutations and Mighty Yoga led Michael Franti’s pre-show Yoga class on the shores of Cayuga Lake. With inspiration from both events we’re expanding to offer wellness activities throughout the day under the beautiful willow trees in Stewart Park. Your well being at the festival is important to us we encourage you to take a break during the day to enjoy a yoga class, a meditation, or a free massage from <a href="https://www.flsm.edu/" rel="noreferrer noopener">The Finger Lakes School of Massage.</a></p>
  <p></p>

  <table class="wellness-table">
     <tr>
       <td>9:30am  -  SUP Yoga (Stand Up Paddleboard) - Sophie Trowbridge (Meet at Paddle-n-More)</td>
     </tr>
     <tr>
       <td>1pm - 108 Sun Salutations-Astrid Jirka w/ Yoga for the Earth</td>
     </tr>
     <tr>
       <td>3pm - Acro Yoga - Lisa Trent, Alex Crenshaw and Bob Rossi</td>
     </tr>
     <tr>
       <td>3pm - Little Buddhas Yoga ages 3-12, with Dianne Hamilton and Devon Ceanna (workshop will take place in the Youth Village)</td>
     </tr>
     <tr>
       <td>5pm - Cool Your Jets Yoga- with Hilary Davis and Marcy Little</td>
     </tr>
  </table>

  <p></p>
  <p></p>


  <h2>Youth Village</h2>

  <p>Youth Village is created and sponsored by Child Development Council. Please bring your junior reggae fans to the festival and enjoy some of our many engaging activities for youth. We’ll have festival crafts, face painting, lawn games, bubble play, and more. Yoga and percussion games will happen throughout the day. And if you need a place to unwind with your littles, we’ll have a dedicated area with a cozy book nook, simple toys, and a nursing area for Mamas. All youth under 16 are FREE at the festival!</p>
  <p></p>
  <p></p>

  <h2>International Food Village</h2>
  <div class="sponsor-grid">
    <a href="https://www.facebook.com/silofoodtruck/" target="_blank" rel="noreferrer noopener" class="sponsor silo-food-truck"></a>
    <a href="http://www.ilovethegoodtruck.com/" target="_blank" rel="noreferrer noopener" class="sponsor the-good-truck"></a>
    <a href="https://www.monksonthecommons.com/" target="_blank" rel="noreferrer noopener" class="sponsor monks-on-the-commons"></a>
    <a href="http://www.lunastreetfood.com/" target="_blank" rel="noreferrer noopener" class="sponsor luna-street-food"></a>
    <a target="_blank" rel="noreferrer noopener" class="sponsor trini-style"></a>
    <a href="https://www.facebook.com/francoandsalvosithacany/" target="_blank" rel="noreferrer noopener" class="sponsor francos-pizzeria"></a>
    <a href="https://www.facebook.com/CongoSquareIthaca/" target="_blank" rel="noreferrer noopener" class="sponsor congo-square"></a>
    <a href="https://gimmecoffee.com/" target="_blank" rel="noreferrer noopener" class="sponsor gimme-coffee"></a>
    <a href="http://cayugalakecreamery.com/" target="_blank" rel="noreferrer noopener" class="sponsor cayuga-lake-creamery"></a>
  </div>
  <p></p>
  <div class="guidelines">
    <div class="guidelines-content">
      <h1>Festival Guidelines</h1>
      <ul>
        <li>Positive vibes highly recommended (all day every day)</li>
        <li>ZERO PLASTIC allowed (Thanks being part of the PLASTIC FREE revolution)</li>
        <li>Reusable bottles recommended (FREE WATER)</li>
        <li>Kids under 16 are FREE at the Stewart Park Venue (Family vibes all day)</li>
        <li>Coolers allowed and will be searched on your way into the Stewart Park Venue (No Outside Alcohol or Plastic Bottles)</li>
        <li>No outside alcohol inside the gate of the Stewart Park Venue (alcohol is allowed outside the gate in Stewart Park)</li>
        <li>No plastic bottles allowed inside the gate of the Stewart Park Venue</li>
        <li>Folding chairs are allowed in the Stewart Park Venue (chairs will be searched at the gate)</li>
        <li>Folding umbrellas are allowed at the Stewart Park Venue (umbrellas will be searched at the gate)</li>
        <li>Onsite port-a-johns will be available in the Stewart Park Venue</li>
        <li>No dogs allowed in the Stewart Park Venue (dogs are allowed outside the gate in Stewart Park)</li>
        <li>No weapons, fireworks or explosives of any kind allowed (all bags will be searched)</li>
      </ul>
    </div>
  </div>
    <div class="transportation">
    <h1>Transportation & Parking</h1>
    <div class="transportation-content">
      <p class="table-header">Parking Lots (follow the festival parking signs)</p>
      <ul>
        <li>Lot #1 Boynton Middle School (1601 N Cayuga St, Ithaca, NY 14850) Distance = 0.5 miles</li>
        <li>Lot #2 Ithaca High School (1401 N Cayuga St, Ithaca, NY 14850) Distance = 0.7 miles</li>
        <li>TCAT Route (13X & 13) will pick you up behind the IHS football field by the “Festival Bus Stop” sign. The same route (13X & 13) stops downtown at the Green St. Garage (126 E. Green Street) and Seneca St. Garage (215 N. Tioga Street), and multiple other stops throughout the downtown area. FREE TCAT FARE for anyone attending Ithaca Reggae Fest!</li>
        <li>LimeBike will also have an abundance of LimeBike’s available in both parking lots for you to ride to Stewart Park. You can park them in the LimeBike sponsored Bike Valet, where all bikes are welcome. After the festivities are over you can ride a LimeBike back to your car, back to your house, or ride one to the after party at The Haunt (best option).</li>
      </ul>
    </div>

  </div>
</section> -->
